<div class="text">{{view.prompt}}</div>
{{#if icon}}
  <i {{bind-attr class="icon :icon"}}></i>
{{else}}
  <i class="dropdown icon"></i>
{{/if}}
<div class="menu">
  {{#if view.optionGroupPath}}
    {{#each group in view.groupedContent}}
      {{view view.groupView content=content label=label}}
    {{/each}}
  {{else}}
    {{#each item in view.content}}
      {{view view.optionView content=item valuePath=view.optionValuePath}}
    {{/each}}
  {{/if}}
</div>
{{#if view.template}}
  {{yield}}
{{/if}}
