<div class="text">{{prompt}}</div>
{{#if icon}}
  <i class="{{icon}} icon"></i>
{{else}}
  <i class="dropdown icon"></i>
{{/if}}
<div class="menu">
  {{#each content key="@guid" as |item|}}
    {{#ui-dropdown-item content=item optionLabelPath=optionLabelPath optionValuePath=optionValuePath as |label|}}
      {{label}}
    {{/ui-dropdown-item}}
  {{/each}}
</div>
{{#if hasBlock}}
  {{yield}}
{{/if}}
