<div class="text">{{view.prompt}}</div>
{{#if view.icon}}
  <i class="{{view.icon}} icon"></i>
{{else}}
  <i class="dropdown icon"></i>
{{/if}}
<div class="menu">
  {{#if view.optionGroupPath}}
    {{#each view.groupedContent as |group|}}
      {{view view.groupView content=group.content label=group.label}}
    {{/each}}
  {{else}}
    {{#each view.content as |item|}}
      {{view view.optionView content=item valuePath=view.optionValuePath}}
    {{/each}}
  {{/if}}
</div>
{{#if view.template}}
  {{yield}}
{{/if}}
