<h2 id='title'>Accordion</h2>

{{#ui-accordion class="styled"}}
  <div class="title">
    Semantic UI
  </div>
  <div class="content">
    Accordion Component
  </div>
  <div class="title">
    Accordion Two
  </div>
  <div class="content">
    Content Two
  </div>
  <div class="title">
    Accordion Three
  </div>
  <div class="content">
    Content Three
  </div>
  {{#each sections as |section|}}
    <div class="title">
      Accordion Extra {{section}}
    </div>
    <div class="content">
      Content Extra {{section}}
    </div>
  {{/each}}
{{/ui-accordion}}

<div class="ui basic segment">
  <div class="ui button" {{action "change_sections" 1}}>
    Add Extra Section
  </div>

  <div class="ui button {{unless total_sections "disabled"}}" {{action "change_sections" -1}}>
    Remove Extra Section
  </div>
</div>