<h2 id='title'>Checkbox</h2>

<div class="ui form">
  <div class="field">
    {{ui-checkbox label="Make my profile visible (checked binding)" checked=checked}}
    - {{if checked "Checked" "Not Checked"}}
  </div>

  <div class="field">
    {{ui-checkbox label="Make my profile visible (pre checked binding)" checked=pre_checked}}
    - {{if pre_checked "Checked" "Not Checked"}}
  </div>

  <div class="field">
    {{ui-checkbox label="Make my profile visible (onChange action)" checked=action_checked onChange=(action 'set_checked')}}
    - {{if action_checked "Checked" "Not Checked"}}
  </div>
</div>

<h4 class="ui header">
  Radio Box
  <div class="sub header">A checkbox can be formatted as a radio element. This means it is an exclusive option.</div>
</h4>

<div class="ui form">
  <div class="grouped inline fields">
    <div class="field">
      {{ui-radio name="fruit" label="Once a week" value="once-a-week" current=fruit}}
    </div>
    <div class="field">
      {{ui-radio name="fruit" label="2-3 times a week" value="few-times-a-week" current=fruit}}
    </div>
    <div class="field">
      {{ui-radio name="fruit" label="Once a day" value="once-a-day" current=fruit}}
    </div>
  </div>
</div>

<div class="ui label">
  Current fruit - {{fruit}}
</div>

<h4 class="ui header">
  Radio Box (Pre-selected)
</h4>

<div class="ui form">
  <div class="grouped inline fields">
    <div class="field">
      {{ui-radio name="color" label="Red" value="red" current=color}}
    </div>
    <div class="field">
      {{ui-radio name="color" label="Yellow" value="yellow" current=color}}
    </div>
    <div class="field">
      {{ui-radio name="color" label="Blue" value="blue" current=color}}
    </div>
  </div>
</div>

<div class="ui label">
  Current Color - {{color}}
</div>
